allow system_server gmscore_app:process getattr;
allow system_server platform_app:process getattr;
allow system_server priv_app:process getattr;
allow system_server system_app:process getattr;
allow system_server untrusted_app:process getattr;
allow system_server radio:process getattr;
allow system_server bluetooth:process getattr;
allow system_server audioserver:process getattr;
allow system_server network_stack:process getattr;