import /system/etc/init/init.qcom.power.rc

on post-fs
	exec - root -- /system/bin/vndk-detect
	exec - root -- /system/bin/rw-system.sh
    exec u:r:phhsu_daemon:s0 -- /system/bin/set-dalvik-props.sh
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
    setprop ro.vndk.version ${persist.sys.vndk}
	export LD_PRELOAD :

on property:vold.decrypt=trigger_restart_framework
	exec - root -- /system/bin/phh-on-data.sh

on early-boot
	exec - root -- /system/bin/phh-on-data.sh

service phh_on_boot /system/bin/phh-on-boot.sh
    oneshot
    disabled

on property:sys.boot_completed=1
    start phh_on_boot
    chown wifi system /data/misc/wifi
    chown system wifi /data/misc/wifi/hostapd.conf

on property:persist.sys.phh.mainkeys=*
    setprop qemu.hw.mainkeys ${persist.sys.phh.mainkeys}

on property:persist.sys.phh.oppo.dt2w=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.oppo.dt2w"

on property:persist.sys.phh.oppo.gaming_mode=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.oppo.gaming_mode"

on property:persist.sys.phh.oppo.usbotg=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.oppo.usbotg"

on property:persist.sys.phh.xiaomi.dt2w=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.xiaomi.dt2w"

on property:persist.sys.phh.disable_audio_effects=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.disable_audio_effects"

on property:persist.sys.phh.caf.audio_policy=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.caf.audio_policy"

on property:sys.phh.cpu.governor=*
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor ${sys.phh.cpu.governor}
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor ${sys.phh.cpu.governor}
    write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor ${sys.phh.cpu.governor}

on property:sys.umg.cpu.perf=1
    write /proc/sys/kernel/sched_upmigrate "98 98"
    write /proc/sys/kernel/sched_downmigrate "88 88"
    write /proc/sys/kernel/sched_group_upmigrate 98
    write /proc/sys/kernel/sched_group_downmigrate 88
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 1612800
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_load 98
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 1862400
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_load 98
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 2169600
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_load 98
    write /sys/devices/system/cpu/cpu_boost/input_boost_freq "0:1075200 1:1075200"
    write /sys/class/thermal/thermal_message/sconfig 0

on property:sys.umg.cpu.perf=2
    write /proc/sys/kernel/sched_upmigrate "95 95"
    write /proc/sys/kernel/sched_downmigrate "85 85"
    write /proc/sys/kernel/sched_group_upmigrate 95
    write /proc/sys/kernel/sched_group_downmigrate 85
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 1612800
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_load 95
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 2150400
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_load 95
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 2457600
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_load 95
    write /sys/devices/system/cpu/cpu_boost/input_boost_freq "0:1612800 1:1612800"
    write /sys/class/thermal/thermal_message/sconfig 0

on property:sys.umg.cpu.perf=3
    write /proc/sys/kernel/sched_upmigrate "85 85"
    write /proc/sys/kernel/sched_downmigrate "70 70"
    write /proc/sys/kernel/sched_group_upmigrate 85
    write /proc/sys/kernel/sched_group_downmigrate 70
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 1612800
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_load 75
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 2150400
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_load 75
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 2457600
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_load 75
    write /sys/devices/system/cpu/cpu_boost/input_boost_freq "0:1612800 1:1612800"
    write /sys/class/thermal/thermal_message/sconfig 9

on property:sys.umg.cpu.perf=4
    write /proc/sys/kernel/sched_upmigrate "80 80"
    write /proc/sys/kernel/sched_downmigrate "65 65"
    write /proc/sys/kernel/sched_group_upmigrate 80
    write /proc/sys/kernel/sched_group_downmigrate 65
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 1804800
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_load 70
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 2150400
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_load 70
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 2457600
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_load 70
    write /sys/devices/system/cpu/cpu_boost/input_boost_freq "0:1804800 1:1804800"
    write /sys/class/thermal/thermal_message/sconfig 9

on property:sys.umg.cpu.perf=5
    write /proc/sys/kernel/sched_upmigrate "70 70"
    write /proc/sys/kernel/sched_downmigrate "55 55"
    write /proc/sys/kernel/sched_group_upmigrate 70
    write /proc/sys/kernel/sched_group_downmigrate 55
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_freq 1804800
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/hispeed_load 60
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_freq 2246400
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/hispeed_load 60
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_freq 2649660
    write /sys/devices/system/cpu/cpufreq/policy7/schedutil/hispeed_load 60
    write /sys/devices/system/cpu/cpu_boost/input_boost_freq "0:1804800 1:1804800 4:2246400"
    write /sys/class/thermal/thermal_message/sconfig 9

on property:persist.sys.phh.vsmart.dt2w=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.vsmart.dt2w"

on property:persist.sys.phh.backlight.scale=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.backlight.scale"

on property:persist.sys.phh.disable_soundvolume_effect=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/phh-prop-handler.sh "persist.sys.phh.disable_soundvolume_effect"

on property:ro.sf.lcd_density=*
    restart surfaceflinger

on property:persist.sys.phh.disable_a2dp_offload=0
    setprop persist.sys.phh.disable_a2dp_offload false

on property:persist.sys.phh.disable_a2dp_offload=1
    setprop persist.sys.phh.disable_a2dp_offload true

on property:persist.sys.phh.disable_a2dp_offload=*
    setprop persist.bluetooth.bluetooth_audio_hal.disabled ${persist.sys.phh.disable_a2dp_offload}

on property:init.svc.ril-proxy=stopped && property:persist.sys.phh.restart_ril=true
    start ril-proxy

on property:init.svc.vendor.ril-daemon-mtk=stopped && property:persist.sys.phh.restart_ril=true
    start vendor.ril-daemon-mtk

on property:persist.sys.phh.restart_ril=true
    restart ril-proxy
    restart vendor.qcrild
    restart vendor.qcrild2
    restart vendor.ril-daemon-mtk

on property:vendor.debug.sf.latch_unsignaled=1
    setprop debug.sf.latch_unsignaled 1

on property:sys.phh.uninstall-ota=true
    exec u:r:phhsu_daemon:s0 root -- /system/bin/rm /metadata/phh/img

on property:ro.vendor.radio.default_network=*
    setprop ro.telephony.default_network ${ro.vendor.radio.default_network}

